$primary-color-light: #ebebeb;
$text-color-light: #06021b;

$paragraph-color-light: #828282;
$primary-color-dark: #131320;
$text-color-dark: #06021b;

$paragraph-color-dark: #828282;

$white-color: #fff;
$black-color: #000;
