@import "./reset";
@import "./colors";
@import "./variable";
@import "./extend";
@import "./mixins";
@import "./functions";

/* START HEADER SECTION */
body {
  background: themeColor("primary");
}
header {
  .container {
    .header-container-wrapper {
      width: 100%;
      height: 100vh;
      .header {
        padding-top: 60px;
        max-width: 1240px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo-area {
          a {
            img {
              width: 172px;
              height: 56px;
            }
          }
        }
        nav {
          ul {
            li {
              display: inline-block;
              a {
                display: block;
                font-family: "Ubuntu";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                color: themeColor("nav");
                padding: 10px 30px;
                text-transform: capitalize;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

/*END HEADER SECTION*/
